/*기본*/
html, body{font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size: 18px;}
a{text-decoration: none; color: #333; font-weight: 500}
small{font-size: 14px}
h1,h2,h3{font-weight: 800;}

/*bootstrap변경*/
.breadcrumb-item+.breadcrumb-item{display: flex;align-items: center;}
.breadcrumb-item.active{color:#5a0099; font-weight: 700;}
.nav-link{color:#5a0099;font-weight: 800;}
.btn-primary{background: #5a0099; border: #5a0099}

.offcanvas-body label{font-size: 14px; color: #999; margin-bottom: 0}
.offcanvas-body .form-control-plaintext{padding: 0}

/*pqgrid*/
.pq-grid-header .pq-grid-col {height: 40px !important;line-height: 40px !important;}
.ui-corner-top{display: none}
.pq-no-capture{display: none}



/*레이아웃*/
header .logo{letter-spacing: -2px}
header .logo i{color: #5a0099}
header .btn-menu{font-size: 50px}
