/*기본*/
html, body{font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size: 18px;}
a{text-decoration: none; color: #222; font-weight: 600}



/*레이아웃*/
header .logo{letter-spacing: -2px}
header .logo i{color: #5a0099}
header .btn-menu{font-size: 50px}
